<head lang="en" th:replace="fragments/header :: header">
</head>
<div th:replace="fragments/sidebar"></div>
<div class="container">
	<h1 class="display-2 text-center">Welcome fellow trader!</h1>
	<br>
	<p class="lead text-center">Head over to the Tools page to get
		started. Remember it is still a work in progress. Please report any issues you have.</p>
	<br>
	<h3>Getting Started:</h3>
	<ul class="list-group list-group-flush">
		<li class="list-group-item"><b>STEP 1:</b> Tools -> Excel Imports
			-> Excel import (This takes up to a minute depending how many rows
			the TradeHistory has)</li>
		<li class="list-group-item"><b>STEP 2:</b> Tools -> Trades ->
			Combine trades (This will add all partial trades together. This can
			take a while)</li>
		<li class="list-group-item"><b>STEP 3:</b> Tools -> Profits ->
			Calculate profits (You should repeat this a few times)</li>
		<li class="list-group-item"><b>STEP 4:</b> Check out your profits</li>
	</ul>
	<br>
	<h4>Notes:</h4>
	<ul class="list-group list-group-flush">
		<li class="list-group-item">All trade time are UTC GMT. The date
			format used "yyyy-MM-dd HH:mm:ss"</li>
		<li class="list-group-item">The daily profits page will only
			count and analyze all trades closed on that day</li>
		<li class="list-group-item">Deleting one profit entry will also
			delete the trades associated with this profit.</li>
		<li class="list-group-item">All tables are sorted by trade time</li>
		<li class="list-group-item">If some sell and buy orders are not
			properly paired, just delete them and import the whole spreadsheet
			again. Only unique trades will be imported again</li>
		<li class="list-group-item">You might have to click "calculate
			profits" more than once to get all trades profits calculated</li>
	</ul>
	<!-- 1 div is to close the container. last div is to close page content wrapper.-->
</div>
<div lang="en" th:replace="fragments/footer :: footer"></div>
<!-- /#page-content-wrapper -->
</div>
