<head lang="en" th:replace="fragments/header :: header">
</head>
<div th:replace="fragments/sidebar"></div>
<div class="container">
	<h1 class="display-2">Welcome fellow trader!</h1>
	<br>
	<p class="lead">Head over to the Tools page to get started.
		Remember it is still a work in progress.</p>
	<br>
	<h4>
		<b>Notes:</b>
	</h4>
	<ul class="list-group list-group-flush">
		<li class="list-group-item">The daily profits page will only
			count and analyze all trades closed on that day.</li>
		<li class="list-group-item">If you want to recalculate profits
			delete all profits first using the Tools menu</li>
		<li class="list-group-item">Deleting one profit entry will also delete the trades associated with this profit.</li>
				<li class="list-group-item">All tables are sorted by trade time.</li>
	</ul>
	<!-- 1 div is to close the container. last div is to close page content wrapper.-->
</div>
<div lang="en" th:replace="fragments/footer :: footer"></div>
<!-- /#page-content-wrapper -->
</div>
