<!DOCTYPE html>
<head lang="en" th:replace="fragments/header :: header">
</head>
<div th:replace="fragments/sidebar :: sidebar"></div>
<div class="p-5">
	<div class="d-flex flex-row">
		<div class="p-2">
			<h1>Profit List</h1>
		</div>
		<div class="p-2">
			<div th:if="${!totalProfits.empty}">
				<button type="button" id="heading-total-profits"
					class="btn btn-outline-dark" data-toggle="collapse"
					data-target="#collapse-total-profits" aria-expanded="false"
					aria-controls="collapse-total-profits">Total profits</button>
			</div>
		</div>
		<div id="collapse-total-profits" class="collapse">
			<div class="p-2">
				<ul class="list-inline">
					<li class="list-inline-item align-middle" id="total-profit-currencies"
						th:each="currency : ${totalProfits}" th:text="${currency}"></li>
				</ul>
			</div>
		</div>
	</div>

	<div th:if="${!profits.empty}">
		<table data-toggle="table" data-sort-name="sell-time"
			data-sort-order="desc" data-locale="en-US" data-pagination="true"
			data-search="true" data-page-list="[25, 50, 100, 200, ALL]"
			data-page-size="50"
			class="tracker-tables table table-striped table-responsive">
			<thead>
				<tr>
					<th data-field="market" data-sortable="true" class="col">Market</th>
					<th data-field="buy-price" data-sortable="true" class="col">Buy
						Price</th>
					<th data-field="sell-price" data-sortable="true" class="col">Sell
						Price</th>
					<th data-field="profit-price" data-sortable="true" class="col">Profit</th>
					<th data-field="quantity" data-sortable="true" class="col">Quantity</th>
					<th data-field="buy-time" data-sortable="true" class="col">Buy
						Time</th>
					<th data-field="sell-time" data-sortable="true" class="col">Sell
						Time</th>
					<th data-field="trade-took" data-sortable="true" class="col">Trade
						took</th>
					<th class="col"></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="profit : ${profits}">
					<td scope="row" class="text-center" th:text="${profit.symbol}"></td>
					<td scope="row" th:text="${profit.buyPrice}"></td>
					<td scope="row" th:text="${profit.sellPrice}"></td>
					<td scope="row" th:text="${profit.profit}"></td>
					<td scope="row" th:text="${profit.quantity}"></td>
					<td scope="row"
						th:text="${#dates.format(profit.buyTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
					<td scope="row"
						th:text="${#dates.format(profit.sellTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
					<td scope="row" th:text="${profit.timeDifference}"></td>
					<td scope="row"><a th:href="${'/profit/delete/' + profit.id}">Delete</a>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<script>

</script>
<div lang="en" th:replace="fragments/footer :: footer"></div>
</div>