<!DOCTYPE html>
<head lang="en" th:replace="trade/fragments/header :: header">
</head>
<body>
	<div th:replace="trade/fragments/sidebar"></div>
	<div th:if="${not #lists.isEmpty(profit)}">
		<h2>Trade List</h2>
		<table class="table table-striped">
			<tr>
				<th>Type</th>
				<th>Symbol</th>
				<th>Price</th>
				<th>Total</th>
				<th>Fee</th>
				<th>Symbol of Fee</th>
				<th>Time Of Trade</th>
				<th>View</th>
			</tr>
			<tr th:each="trade : ${profit}">
				<td th:if="${trade.buy} == true">Buy</td>
				<td th:unless="${trade.buy}">Sell</td>
				<td th:text="${trade.symbol}"></td>
				<td th:text="${trade.price}"></td>
				<td th:text="${trade.total}"></td>
				<td th:text="${trade.fee}"></td>
				<td th:text="${trade.feeCoin}"></td>
				<td th:text="${trade.timeOfTrade}"></td>

				<td><a th:href="${'/trade/show/' + trade.id}">View</a></td>
			</tr>
		</table>
	</div>
	</div>
	</div>
	</div>
	<div lang="en" th:replace="trade/fragments/footer :: footer"></div>
	</div>
	</div>
</body>