<!DOCTYPE html>
<html>
<head lang="en" th:replace="fragments/header :: header">
</head>
<body>
	<div th:replace="fragments/sidebar"></div>
	<div class="row">
		<div class="col-sm-6">
			<h2>Show Product</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-8">
			<form class="form-horizontal">
				<div class="form-group">
					<label class="col-sm-2 control-label">Trade Id:</label>
					<div class="col-sm-10">
						<p class="form-control-static" th:text="${trade.id}">Product
							Id</p>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Pair:</label>
					<div class="col-sm-10">
						<p class="form-control-static" th:text="${trade.symbol}">Pair</p>
					</div>
				</div>

				<div class="form-group">
					<label class="col-sm-2 sm-2 control-label">Fee:</label>
					<div class="col-sm-10">
						<p class="form-control-static" th:text="${trade.fee}">Fee</p>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Price:</label>
					<div class="col-sm-10">
						<p class="form-control-static" th:text="${trade.price}">Price</p>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 sm-2 control-label">Quantity:</label>
					<div class="col-sm-10">
						<p class="form-control-static" th:text="${trade.quantity}">Quantity</p>
					</div>
				</div>
			</form>
		</div>
	</div>
	</div>
	</div>
	</div>
	</div>
	<div th:replace="fragments/footer :: footer"></div>
	</div>
</body>
</html>