<!DOCTYPE html>
<head lang="en" th:replace="fragments/header :: header">
</head>
<div th:replace="fragments/sidebar :: sidebar"></div>
<div class="container">
	<div class="d-flex flex-row">

		<div class="p-2">
			<h1>Excel Import List</h1>
		</div>

	</div>
	<div th:if="${!rawTrades.empty}">
		<table class="table table-striped table-responsive">
			<thead>
				<tr>
					<th>Type</th>
					<th>Market</th>
					<th>Price</th>
					<th>Total</th>
					<th>Fee</th>
					<th>Fee Coin</th>
					<th>Trade Time</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="trade : ${rawTrades}">
					<td th:if="${trade.buy} == true">Buy</td>
					<td th:unless="${trade.buy}">Sell</td>
					<td th:text="${trade.symbol}"></td>
					<td th:text="${trade.price}"></td>
					<td th:text="${trade.total}"></td>
					<td th:text="${trade.fee}"></td>
					<td th:text="${trade.feeCoin}"></td>
					<td
						th:text="${#dates.format(trade.tradeTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
					<td><a th:href="${'/trade/raw/delete/' + trade.id}">Delete</a>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<div lang="en" th:replace="fragments/footer :: footer"></div>
</div>